<h3>Your first answer: <%= @answer1 %>.</h3>
<h3>Your second answer: <%= @answer2 %>.</h3>
<h3>Your third answer: <%= @answer3 %>.</h3><br>

<h2>The correct answers are: </h2>
<ul><h2>
  <li><%= @answer_riddle1 %> </li>
  <li> <%= @answer_riddle2 %> </li>
  <li> <%= @answer_riddle3 %> </li>
</h2></ul>
